<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width,user-scalable=no" name="viewport">
        <title>xxx</title>
    </head>
<body style="display:flex;flex-direction:column;margin-left:20px;margin-top:30px">
    <div>当前时间：{{.current_time}}</div>

    <div style="margin-top:50px;font-size:30px;color:blue">xx列表</div>
    <div>
    </div>

</body>
</html>